.home-titulo-container {
    height: 50vh;

    margin: auto;

    align-items: center;
    justify-content: center;

}

.home-video-container {
    max-width: 400px;
    backgroundcolor: var(--color-primary)
}
