.home-titulo-container {

    margin: 50px auto;

    align-items: center;
    justify-content: center;

}

.home-video-container {

    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
