.home-titulo-container {

    margin: 50px auto;

    align-items: center;
    justify-content: center;

}

.home-video-container {
    display: flex;
    align-items: center;
    background-color: var(--color-primary)
}
