:root {
  --color-primary: #7db7b2;
  --color-secundary: #2b3d4d;
  --color_primario: #8527c3fd;
  --color_primario_suave: #8527c3b4;
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}
